
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Index_General.cshtml";
}

<!DOCTYPE HTML>
<!--
    Retrospect by TEMPLATED
    templated.co
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<body class="landing">

    <!-- Banner -->
    <section id="banner">
        <i class="icon fa-users"></i>
        <h2> Gestión de Postulantes</h2>
        <p>El portal para el manejo de postulaciones de la empresa</p>
        <ul class="actions">
            <li><a href="#" class="button big special">Leer Mas</a></li>
        </ul>
    </section>
    <!-- One -->
    <section id="one" class="wrapper style1">
        <div class="inner">
            <article class="feature left">
                <span class="image"><img src="~/images/pic01.jpg" alt="" /></span>
                <div class="content">
                    <h2>Nuestro objetivo</h2>
                    <p> es brindar la facilidad para registrar a los postulantes y observar su información</p>
                </div>
            </article>
            <article class="feature right">
                <span class="image"><img src="~/images/pic02.jpg" alt="" /></span>
                <div class="content">
                    <h2>Empieza</h2>
                    <p>para poder realizar el registro satisfactorio de cualquier postulante.</p>
                </div>
            </article>
        </div>
    </section>

</body>
</html>

